@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 254 250 224;
    --text: 14 20 9;
  }

  .dark {
    --background: 14 20 9;
    --text: 254 250 224;
  }
}

@layer base {
  html {
    font-family: 'VT323', sans-serif;
  }

  body {
    @apply bg-background;
  }
}
